.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
}
.head {
  border-bottom: 2px solid #e5e7eb;
}

.timing {
  width: 150px;
  height: 120px;
}
.hour {
  border-left: none;
  border-top: none;
  width: 150px;
  height: 120px;
}
